#parent{
    position: relative;
    display: none;
}

img{
    height: 500px;
}

#iname{
    position: absolute;
    top: 135px;
    left: 225px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

#iemail{
    position: absolute;
    top: 185px;
    left: 225px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}