.container{
    width: 86%;
    margin: auto;
}

li:hover{
    color: #67b2f8;
    text-shadow: #88aed1 0px 0px 10px;
    font: bold 1.2em  arial,sans-serif;
}

h1{
    color: #fefefc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8em;
    font-weight: bolder;;
}

.me{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5em;
    font-weight: bolder;
}

h2{
    color: #fefefc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bolder;
}

.hero{
    width: 100%;
    border-radius: 10%;
    border: rgb(52, 52, 202) solid 5px;
}

