#parent{
    position: relative;
    display: none;
}

#iname{
    position: absolute;
    top: 188px;
    left: 90px;
    font-size: 20px;
    font-weight: bold;
}

#iaddress{
    position: absolute;
    top: 245px;
    left: 145px;
    font-size: 20px;
    font-weight: bold;
}